# Project: Wrangling and Analyze Data

### Dataset under consideration : WeRateDogs Twitter Data

#### About WE RATE DOGS :
The dataset that I will be wrangling (as well as analyzing and visualizing) is the tweet archive of Twitter user @dog_rates, also known as WeRateDogs. WeRateDogs is a Twitter account that rates people's dogs with a humorous comment about the dog. These ratings almost always have a denominator of 10. The numerators, though? Almost always greater than 10. 11/10, 12/10, 13/10, etc. Why? Because "they're good dogs Brent." WeRateDogs has over 4 million followers and has received international media coverage.

WeRateDogs downloaded their Twitter archive and sent it to Udacity to use in this project. This archive contains basic tweet data (tweet ID, timestamp, text, etc.) for all 5000+ of their tweets as they stood on August 1, 2017.

Main tasks in this project are as follows:

1. Data wrangling, which consists of:

    Gathering data

    Assessing data
    
    Cleaning data
    

2. Storing, analyzing, and visualizing your wrangled data


3. Reporting on:
    
    Data wrangling efforts 
    
    Data analysis and visualization

In [2]:
#import required libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np 
import seaborn as sns
import wptools
import os
import requests as rt
import tweepy
import json
from PIL import Image
from io import BytesIO

## Data Gathering

In [3]:
#reading data
df = pd.read_csv("twitter-archive-enhanced.csv")

2. Use the Requests library to download the tweet image prediction (image_predictions.tsv)

In [ ]:
'''
# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# These are hidden to comply with Twitter's API terms and conditions
consumer_key = 'HIDDEN'
consumer_secret = 'HIDDEN'
access_token = 'HIDDEN'
access_secret = 'HIDDEN'

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

# NOTE TO STUDENT WITH MOBILE VERIFICATION ISSUES:
# df_1 is a DataFrame with the twitter_archive_enhanced.csv file. You may have to
# change line 17 to match the name of your DataFrame with twitter_archive_enhanced.csv
# NOTE TO REVIEWER: this student had mobile verification issues so the following
# Twitter API code was sent to this student from a Udacity instructor
# Tweet IDs for which to gather additional data via Twitter's API
tweet_ids = df_1.tweet_id.values
len(tweet_ids)

# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
count = 0
fails_dict = {}
start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
with open('tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
    for tweet_id in tweet_ids:
        count += 1
        print(str(count) + ": " + str(tweet_id))
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
        except tweepy.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
print(fails_dict)
'''

In [4]:
#making directory if it doesn't already exist 
folder_name = 'image_predictions'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)
    
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
response = rt.get(url)

In [5]:
#opening the file 
with open(os.path.join(folder_name,
                      url.split('/')[-1]) , mode='wb') as file:
    file.write(response.content)

In [6]:
#reading the file 
image_predictions = pd.read_csv(r"C:\Users\CLOUDVIEW\Downloads\ALX Udacity\image-predictions.tsv" , sep = "\t")

3. Use the Tweepy library to query additional data via the Twitter API (tweet_json.txt)

In [7]:
#opening json file
df_list = []
with open(r"C:\Users\CLOUDVIEW\Downloads\ALX Udacity\tweet-json.txt") as file:
    for line in file:
        df_list.append(json.loads(line))

In [8]:
#reading json file data
tweets = pd.DataFrame(df_list , columns = ['id' , 'retweet_count' , 'favorite_count'])

## Assessing Data
In this section, detect and document at least **eight (8) quality issues and two (2) tidiness issue**. I used **both** visual assessment and programmatic assessement to assess the data.

In [ ]:
#display the first five rows of the dataframe
df.head()

In [ ]:
#random selection of 5 rows in the dataframe
df.sample(5)

In [ ]:
#get a concise summary of the DataFrame
df.info()

In [ ]:
#number of duplicates in the data
df.duplicated().sum()

In [ ]:
#return counts of unique values of the rating_denominator
df.rating_denominator.value_counts()

In [ ]:
#return counts of unique values of the rating_numerator
df.rating_numerator.value_counts()

In [ ]:
#return counts of unique values in the name column
df.name.value_counts()

In [ ]:
#return the datatype
type(df.timestamp[0])

In [ ]:
#number of rows and columns
print("The rows and column in this dataset are (Rows,Columns) : ",df.shape)

In [ ]:
#display the first five rows of the dataframe
image_predictions.head()

In [ ]:
#get a concise summary of the DataFrame
image_predictions.info()

In [ ]:
#number of duplicates in the data
image_predictions.duplicated().sum()

In [ ]:
#number of rows and columns
print("The rows and column in this dataset are (Rows,Columns) : ",image_predictions.shape)

In [ ]:
#display the first five rows of the dataframe
tweets.head()

In [ ]:
#get a concise summary of the DataFrame
tweets.info()

In [ ]:
#number of duplicates in the data
tweets.duplicated().sum()

In [ ]:
tweets.describe()

In [ ]:
#number of rows and columns
print("The rows and column in this dataset are (Rows,Columns) : ",tweets.shape)

### Quality issues

#### 1. Twitter-archive-enhanced table

a. There are some tweets in twitter-archive dataframe that have no images

b. Some values in rating denominator are != 10 

c. Some values in rating numerator contain decimals

d. Timestamp should be date-time not string

e. Nulls represented as none in name column

f. There are 59 missing values in expanded_urls column

g. The tweet_id should be "string" not "int"

h. Strange names like 'a','his', etc. in name column

i. The retweeted_status_id column should be removed as it's not needed 

j. The retweeted_status_user_id column should be removed as it's not needed 

k. The retweeted_status_timestamp column should be removed as it's not needed 

l. The in_reply_to_status_id column should be removed as it is not needed

m. The in_reply_to_user_id column should be removed as it is not needed

n. Keep only original tweets



#### 2.  Image_predictions table

a. The p1, p2, p3 columns have some names in upper case and some in lower case

b. Missing id records there are 2075 instead of 2356

c. The tweet_id should be "string" not "int"


#### 3. Tweets table

a. Id column name should be tweet_id instead of id

b. Missing records there are 2354 instead of 2356

c. The tweet_id should be "string" not "int"

### Tidiness issues
1. The doggo, floofer, pupper, and puppo column should be in one column not four


2. The three dataframes should be combined into one dataframe

## Cleaning Data
In this section, I cleaned **all** of the issues I documented while assessing.

In [9]:
#make copies of original pieces of data
#create a copy from each data frame to be used in cleaning processes and keep original one as it is
df_clean = df.copy()
img_pred_clean = image_predictions.copy()
tweets_clean = tweets.copy()

### Issue #1:
Nulls represented as none in name column

#### Define
Replace the none values with nulls using replace method and numpy nan method

#### Code

In [10]:
mask = df_clean.name.str.contains('^[a-z]', regex = True)
df_clean[mask].name.value_counts().sort_index()

a               55
actually         2
all              1
an               7
by               1
getting          2
his              1
incredibly       1
infuriating      1
just             4
life             1
light            1
mad              2
my               1
not              2
officially       1
old              1
one              4
quite            4
space            1
such             1
the              8
this             1
unacceptable     1
very             5
Name: name, dtype: int64

In [11]:
df_clean.loc[df_clean.name.str.islower(),'name']='None'
df_clean.name = df_clean.name.replace('None', np.nan)

#### Test

In [12]:
#check names value counts
df_clean['name'].value_counts()

Charlie       12
Lucy          11
Cooper        11
Oliver        11
Lola          10
              ..
Devón          1
Gert           1
Dex            1
Ace            1
Christoper     1
Name: name, Length: 931, dtype: int64

In [13]:
df_clean[mask].name.value_counts().sort_index()

Series([], Name: name, dtype: int64)

### Issue #2:
Keep only original tweets, no retweets

 #### Define
 keep original ratings (no retweets) that have images

#### Code

In [14]:
#exclude all the retweets by filtering 
df_clean = df_clean[df_clean['retweeted_status_user_id'].isnull()]

#### Test

In [15]:
#check retweeted_status_user_id have any retweet
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2175 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2175 non-null   object
 4   source                      2175 non-null   object
 5   text                        2175 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               2117 non-null   object
 10  rating_numerator            2175 non-null   int64
 11  rating_denominator          2175 non-null   int64
 12  name                        1391 non-null   object
 13  doggo                       2175 non-null   object
 14  floofer                     2175 non-null   object
 15  pupper                      2175 non-null   object
 16  puppo                       2175 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 305.9+ KB

### Issue #3:
Some values in rating_denominator column are != 10

#### Define
Identify and drop all tweets that have "rating_denominator" != 10

#### Code

In [16]:
#show records where rating_denominator != 10 
df_clean[df_clean['rating_denominator'] != 10][['text','rating_numerator', 'rating_denominator' ]]

,text,rating_numerator,rating_denominator
313,@jonnysun @Lin_Manuel ok jomny I know you're e...,960,0
342,@docmisterio account started on 11/15/15,11,15
433,The floofs have been released I repeat the flo...,84,70
516,Meet Sam. She smiles 24/7 &amp; secretly aspir...,24,7
902,Why does this never happen at my front door......,165,150
1068,"After so many requests, this is Bretagne. She ...",9,11
1120,Say hello to this unbelievably well behaved sq...,204,170
1165,Happy 4/20 from the squad! 13/10 for all https...,4,20
1202,This is Bluebert. He just saw that both #Final...,50,50
1228,Happy Saturday here's 9 puppers on a bench. 99...,99,90
1254,Here's a brigade of puppers. All look very pre...,80,80
1274,"From left to right:\nCletus, Jerome, Alejandro...",45,50
1351,Here is a whole flock of puppers. 60/50 I'll ...,60,50
1433,Happy Wednesday here's a bucket of pups. 44/40...,44,40
1598,Yes I do realize a rating of 4/20 would've bee...,4,20
1634,"Two sneaky puppers were not initially seen, mo...",143,130
1635,Someone help the girl is being mugged. Several...,121,110
1662,This is Darrel. He just robbed a 7/11 and is i...,7,11
1663,"I'm aware that I could've said 20/16, but here...",20,16
1779,IT'S PUPPERGEDDON. Total of 144/120 ...I think...,144,120
1843,Here we have an entire platoon of puppers. Tot...,88,80
2335,This is an Albanian 3 1/2 legged Episcopalian...,1,2

In [17]:
#fix record (2335)
df_clean[df_clean['rating_denominator'] != 10].loc[2335,'text']

'This is an Albanian 3 1/2 legged  Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv'

In [18]:
#fix denominator and numerator values for record (2335)
df_clean.loc[2335 , 'rating_denominator'] = 10
df_clean.loc[2335 , 'rating_numerator'] = 9

In [19]:
#identify all tweets that have rating_denominator != 10 
wrong_denom = df_clean[df_clean['rating_denominator'] != 10].index

#drop all tweets that have rating_denominator != 10 
df_clean.drop(wrong_denom , inplace = True )

#### Test

In [20]:
#confirm that record(2335) has been fixed
df_clean.loc[2335,:]

tweet_id                                                     666287406224695296
in_reply_to_status_id                                                       NaN
in_reply_to_user_id                                                         NaN
timestamp                                             2015-11-16 16:11:11 +0000
source                        <a href="http://twitter.com/download/iphone" r...
text                          This is an Albanian 3 1/2 legged  Episcopalian...
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                 https://twitter.com/dog_rates/status/666287406...
rating_numerator                                                              9
rating_denominator                                                           10
name                                                                        NaN
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 2335, dtype: object

In [21]:
#check that all tweets that have rating_denominator != 10 have been removed
df_clean[df_clean['rating_denominator'] != 10]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

### Issue #4:
Some val4es in rating numerator contain decimals

#### Define
Fix the numerators containing decimal values

#### Code

In [22]:
df_clean[df_clean.text.str.contains(r"(\d+\.\d*\/\d+)")][['tweet_id', 'text', 'rating_numerator', 'rating_denominator']]

C:\Users\CLOUDVIEW\AppData\Local\Temp\ipykernel_8912\2486936526.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_clean[df_clean.text.str.contains(r"(\d+\.\d*\/\d+)")][['tweet_id', 'text', 'rating_numerator', 'rating_denominator']]

,tweet_id,text,rating_numerator,rating_denominator
45,883482846933004288,This is Bella. She hopes her smile made you sm...,5,10
695,786709082849828864,"This is Logan, the Chow who lived. He solemnly...",75,10
763,778027034220126208,This is Sophie. She's a Jubilant Bush Pupper. ...,27,10
1689,681340665377193984,I've been told there's a slight possibility he...,5,10
1712,680494726643068929,Here we have uncovered an entire battalion of ...,26,10

In [23]:
# convert to float datatype
df_clean[['rating_numerator', 'rating_denominator']] = df_clean[['rating_numerator','rating_denominator']].astype(float)

#update values
df_clean.loc[(df_clean.tweet_id == 883482846933004288), 'rating_numerator'] = 13.5
df_clean.loc[(df_clean.tweet_id == 786709082849828864), 'rating_numerator'] = 9.75
df_clean.loc[(df_clean.tweet_id == 778027034220126208), 'rating_numerator'] = 11.27
df_clean.loc[(df_clean.tweet_id == 681340665377193984), 'rating_numerator'] = 9.5
df_clean.loc[(df_clean.tweet_id == 680494726643068929), 'rating_numerator'] = 11.26

#### Test

In [24]:
# Check that tweets having rating_numerator more than 15 has been fixed:
df_clean[df_clean.text.str.contains(r"(\d+\.\d*\/\d+)")][['tweet_id', 'text', 'rating_numerator', 'rating_denominator']]

C:\Users\CLOUDVIEW\AppData\Local\Temp\ipykernel_8912\1431920438.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_clean[df_clean.text.str.contains(r"(\d+\.\d*\/\d+)")][['tweet_id', 'text', 'rating_numerator', 'rating_denominator']]

,tweet_id,text,rating_numerator,rating_denominator
45,883482846933004288,This is Bella. She hopes her smile made you sm...,13.50,10.0
695,786709082849828864,"This is Logan, the Chow who lived. He solemnly...",9.75,10.0
763,778027034220126208,This is Sophie. She's a Jubilant Bush Pupper. ...,11.27,10.0
1689,681340665377193984,I've been told there's a slight possibility he...,9.50,10.0
1712,680494726643068929,Here we have uncovered an entire battalion of ...,11.26,10.0

In [25]:
#check statistical summary of rating_numerator
df_clean['rating_numerator'].describe()

count    2154.000000
mean       12.210901
std        42.645417
min         0.000000
25%        10.000000
50%        11.000000
75%        12.000000
max      1776.000000
Name: rating_numerator, dtype: float64

### Issue #5:
Timestamp should be "date time" not "str"

#### Define
Convert the column type using to_datetime method

#### Code

In [ ]:
#convert timestamp from str to datetime
df_clean['timestamp']= pd.to_datetime(df_clean['timestamp'])

#### Test

In [ ]:
#confirm that it has been converted
type(df_clean['timestamp'][0])

### Issue #6: 

There are some tweets in twitter-archive dataframe that have no images

#### Define:
Filter dataframe to have only tweets with images

#### Code

In [ ]:
#check if the number of tweets in twitter-archive is equal to the number of tweets that have images in image_predictions
df_clean['tweet_id'].size == df_clean.isin(image_predictions['tweet_id']).sum()['tweet_id']

In [ ]:
#filter twitter-archive to only have tweets with images in image_predictions dataframe
df_clean = df_clean[df_clean['tweet_id'].isin(image_predictions['tweet_id'].unique())]
df_clean.shape

#### Test

In [ ]:
#confirm that all tweets in twitter_archive have images in image_predictions
df_clean['tweet_id'].size == df_clean['tweet_id'].isin(image_predictions['tweet_id']).size

### Issue #7:
retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, in_reply_to_status_id, in_reply_to_user_id should be removed

#### Define
These columns should be removed using the drop method

#### Code

In [ ]:
df_clean = df_clean.drop(columns=['retweeted_status_id' , 'retweeted_status_user_id' , 'retweeted_status_timestamp', 'in_reply_to_status_id' , 'in_reply_to_user_id'])

#### Test

In [ ]:
#confirm that columns have been dropped
df_clean.info()

### Issue #8:
The columns doggo, floofer, pupper, and puppo should be in one column

#### Define
Create a new column 'dog_stage', extract dog stage from the four original columns then drop the original columns

#### Code

In [ ]:
#columns 'doggo', 'floofer', 'pupper', 'puppo' should be merged in one column called 'dog_stage'
df_clean['dog_stage'] = df_clean['text'].str.extract('(doggo|floofer|pupper|puppo)')
#drop 'doggo', 'puppo', 'pupper', 'floofer' columns
df_clean = df_clean.drop(columns=['doggo','floofer','pupper','puppo'])
# use np.nan to fill the empty
df_clean['dog_stage'] = df_clean['dog_stage'].replace('', np.nan)

#### Test

In [ ]:
#check that a new column 'dog_stage' has been created 
df_clean['dog_stage'].value_counts()

### Issue #9:
Values in p columns have some upper letter values and some lower letter values

#### Define
Make the first letters capital with title method

#### Code

In [ ]:
img_pred_clean.p1 = img_pred_clean.p1.str.title()
img_pred_clean.p2 = img_pred_clean.p2.str.title()
img_pred_clean.p3 = img_pred_clean.p3.str.title()

#### Test

In [ ]:
#confirm that values in columns have title case
img_pred_clean.sample(5)

### Issue #10:
id column should be tweet_id

#### Define
Replace the name of column from "id" to "tweet_id"

#### Code

In [ ]:
# Change column name to "id" in tweets_clean to "tweet_id" to be consistent with other two data frames when we merge
tweets_clean.rename(columns={'id': 'tweet_id'}, inplace=True)

#### Test

In [ ]:
# Confirm that name of "id" column has been changed to "tweet_id"
tweets_clean.info()

### Issue #11:
tweet_id should be "string" not "int"

#### Define
Convert column type with astype method

#### Code

In [ ]:
df_clean['tweet_id'] = df_clean['tweet_id'].astype(str)
img_pred_clean['tweet_id'] = img_pred_clean['tweet_id'].astype(str)
tweets_clean['tweet_id'] = tweets_clean['tweet_id'].astype(str)

#### Test

In [ ]:
type(df_clean['tweet_id'][0])

In [ ]:
type(img_pred_clean['tweet_id'][0])

In [ ]:
type(tweets_clean['tweet_id'][0])

### Issue #12:
df_clean, image_predictions_clean and tweets_clean should be merged into one dataframe

#### Define
Merge the three dataframe, joining on tweet_id

#### Code

In [ ]:
# Merge dataframes
df_clean = pd.merge(df_clean, img_pred_clean , on= "tweet_id" , how="left") 
df_clean = pd.merge(df_clean, tweets_clean, on= "tweet_id" , how="left")

#### Test

In [ ]:
#confirm that the dataframes have merged
df_clean.info()

## Storing Data
Save gathered, assessed, and cleaned master dataset to a CSV file named "twitter_archive_master.csv".

In [ ]:
#Save our cleaned dataframe as CSV file
df_clean.to_csv('twitter_archive_master.csv', index= False)

In [ ]:
all_clean = pd.read_csv('twitter_archive_master.csv')

In [ ]:
all_clean.shape

In [ ]:
all_clean.describe()

## Analyzing and Visualizing Data
In this section, analyze and visualize your wrangled data. You must produce at least **three (3) insights and one (1) visualization.**

### Insights:
1. The Golden Retriever is the most popular breed 

2. The pupper stage is the most popular dog stage

3. Afghan_hound got the highest average count of favorites

### Visualization

### What breed is most popular?

In [ ]:
plt.figure(figsize = (15,8))
ax = sns.barplot(x = all_clean['p1'].value_counts()[0:10].index,
            y = all_clean['p1'].value_counts()[0:10],
            data = all_clean);
ax.set_xticklabels(ax.get_xticklabels(),rotation = 90, fontsize = 15);
plt.xlabel("Dog Breeds",fontsize = 18);
plt.ylabel("Prediction Count",fontsize = 18);
plt.title("Popular Dog Breeds",fontsize = 18);

## Top Counts of Most Popular dog breed - Golden Retriever

In [ ]:
#create dataframe for golden_retriever
golden_df = all_clean.query('p1 == "Golden_Retriever"')

In [ ]:
golden_df.sort_values('p1_conf',ascending=False).head(3)

In [ ]:
#first best Golden Retriever probability with high confidence 
url = all_clean.jpg_url[539]
breed = rt.get(url)
Image.open(BytesIO(breed.content))

In [ ]:
#second best Golden Retriever probability with high confidence 
url = all_clean.jpg_url[1799]
breed = rt.get(url)
Image.open(BytesIO(breed.content))

In [ ]:
#third best Golden Retriever probability with high confidence 
url = all_clean.jpg_url[923]
breed = rt.get(url)
Image.open(BytesIO(breed.content))

### What dog stage is the most popular?

In [ ]:
plt.figure(figsize = (15,8))
ax = sns.barplot(x = all_clean['dog_stage'].value_counts()[0:10].index,
            y = all_clean['dog_stage'].value_counts()[0:10],
            data = all_clean);
ax.set_xticklabels(ax.get_xticklabels(),rotation = 90, fontsize = 15);
plt.xlabel("Dog stage",fontsize = 18);
plt.ylabel("Count",fontsize = 18);
plt.title("Popular Dog stage",fontsize = 18);

## Top Counts of Most Popular Dog Stage

In [ ]:
#which tweet id and photo got more likes
favorite = all_clean.sort_values('favorite_count',ascending=False);
favorite = favorite[['tweet_id','favorite_count','jpg_url','dog_stage','p1']]
favorite.head(5)

In [ ]:
#the first high favorite for dog stage puppo 
url = all_clean.jpg_url[309]
breed = rt.get(url)
Image.open(BytesIO(breed.content))

In [ ]:
#the first high favorite for dog stage doggo 
url = all_clean.jpg_url[771]
breed = rt.get(url)
Image.open(BytesIO(breed.content))

In [ ]:
#the first high favorite for dog stage pupper
url = all_clean.jpg_url[108]
breed = rt.get(url)
Image.open(BytesIO(breed.content))

### What breed got the highest average number of favourites?

In [ ]:
#show out top 10 breeds having highest average number of favorites
favourites = all_clean.groupby('p1')['favorite_count'].mean()[0:10].sort_values(ascending=False)
favourites

In [ ]:
plt.figure(figsize = (15,8))
ax = sns.barplot(x = favourites.index,
            y = all_clean.groupby('p1')['favorite_count'].mean()[0:10].sort_values(ascending=False));
ax.set_xticklabels(ax.get_xticklabels(), rotation = 90, fontsize = 15);
plt.xlabel("Breeds",fontsize = 18);
plt.ylabel("Average Favourites count", fontsize = 18);
plt.title("Dog's Breed VS Average favorites count", fontsize = 18);

### Top count of breed with highest average number of favourites

In [ ]:
#create dataframe for afghan_hound
breed_afghan = all_clean.query('p1 == "Afghan_Hound"')

In [ ]:
breed_afghan.sort_values('p1_conf',ascending=False).head(1)

In [ ]:
#the highest average favourite count for Afghan_hound
url = all_clean.jpg_url[207]
breed = rt.get(url)
Image.open(BytesIO(breed.content))

In [ ]:
#create dataframe for African_Crocodile 
breed_croc = all_clean.query('p1 == "African_Crocodile"')

In [ ]:
breed_croc.sort_values('p1_conf',ascending=False).head()

In [ ]:
#the highest average favourite count for Afghan_hound
url = all_clean.jpg_url[1531]
breed = rt.get(url)
Image.open(BytesIO(breed.content))